@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Raleway');



@media screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px)  {  
#headerParallax #educationParallax 
#experienceParallax #leadershipParallax 
#curricularParallax #lifestyleParallax 
#photographyParallax #carParallax{
    background-attachment: unset !important;
    background-position: center top !important; }
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


html, body {
  min-height: 100%;
}

body {
  /* background: #404853; */
  background: #FDF3E7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;


}


body::after {
  content: url("../images/leadership.jpg");
  display: none;
}


h1 {
  transform-origin: center;
  font-family: 'Cormorant', serif;
  font-weight: bold;
  font-size: 50;
  color: black;
  text-align: center;
  margin-top: 50;
  text-shadow: 2px 2px white;
  white-space: nowrap;

}

h2 {
  transform-origin: center;
  font-family: 'Cormorant', serif;
  font-weight: lighter;
  font-size: 40;
  color: black;
  text-align: center;
  margin-top: -30;
  text-shadow: 2px 2px white;
  white-space: nowrap;

}

#indexBar {
    margin-left: auto;
    margin-right: auto;
    top: 240px;
    left: 0;
    right: 0;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: black;
    font-size:20px;
    position: absolute;

    display:none;

    border: 1px solid black;
    transition: 1s;
    cursor: pointer;
    opacity: 0;

}

#indexBar:hover{
    color: white;
    background: black;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style-type: none;
}




.line{
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
#typewriter{
animation: typewriter 2s steps(44) 1s 1 normal both,
           blinkTextCursor 800ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 8em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(0, 0, 0, 0.75);}
to{border-right-color: transparent;}
}



#indexPageBar{
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s;
}















#hexagon {
  position: relative;
  /* position: fixed; */
  top: 400px;
  left: 50%;
  margin-top: -100px;
  margin-left: -30px;
  width: 60px;
  transform-origin: center;
  transform: scale(1.5); 
  /* z-index: -1; */
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

/* #hexagon:hover ~ #bg{
  background-image: url("images/main.jpg");
  transition: .5s ease;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(80%);
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/*=================================== top and bottom triangle
*/

#polygon_top,
#polygon_bottom {
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position: absolute;
  width: 0;
  height: 0;
  transition: width 0.3s ease-in-out, border 0.1s linear, border-radius 0.5s ease-in-out;
}

#polygon_top a,
#polygon_bottom a {
  color: rgba(55, 55, 55, 0);
  display: block;
  font-size: 0em;
  text-transform: uppercase;
  width: 100%;
  transition: color, font-size 0.3s;
}

#polygon_top:nth-child(1),
#polygon_top:nth-child(3),
#polygon_bottom:nth-child(4),
#polygon_bottom:nth-child(6) {
  cursor: pointer;
}

#polygon_top:nth-child(1):hover > a,
#polygon_top:nth-child(3):hover > a,
#polygon_bottom:nth-child(4):hover > a,
#polygon_bottom:nth-child(6):hover > a {
  color: #373737;
  font-size: 1em;
}

#polygon_top:nth-child(1) {
  border-bottom: 30px solid #b65959;
  right: 0;
  transform: translateX(-30px) translateY(-15px);
}

#polygon_top:nth-child(1):hover {
  border-radius: 4px 0 0 4px;
  border-left: 18px solid #b65959;
  width: 120px;
  z-index: 100;
}

#polygon_top:nth-child(1) > a {
  line-height: 30px;
}

#polygon_top:nth-child(2) {
  border-bottom: 30px solid #ddb2b2;
  transform: translateX(12px) translateY(15px);
}


#polygon_top:nth-child(3) {
  border-bottom: 30px solid #c67c7c;
  left: 0;
  transform: translateX(30px) translateY(-15px);
}

#polygon_top:nth-child(3):hover {
  border-radius: 0 4px 4px 0;
  border-right: 18px solid #c67c7c;
  width: 120px;
  z-index: 100;
}

#polygon_top:nth-child(3) > a {
  text-align: right;
  line-height: 30px;
}

#polygon_bottom:nth-child(4) {
  border-top: 30px solid #e5c3c3;
  right: 0;
  transform: translateX(-30px) translateY(15px);
}

#polygon_bottom:nth-child(4):hover {
  border-radius: 4px 0 0 4px;
  border-left: 18px solid #e5c3c3;
  width: 120px;
  z-index: 100;
}

#polygon_bottom:nth-child(4) > a {
  text-align: left;
  line-height: 30px;
  margin-top: -30px;
}

#polygon_bottom:nth-child(5) {
  border-top: 30px solid #be6b6b;
  transform: translateX(12px) translateY(-15px);
}

#polygon_bottom:nth-child(6) {
  border-top: 30px solid #d5a0a0;
  transform: translateX(30px) translateY(15px);
}

#polygon_bottom:nth-child(6):hover {
  border-radius: 0 4px 4px 0;
  border-right: 18px solid #d5a0a0;
  width: 120px;
  z-index: 100;
}

#polygon_bottom:nth-child(6) > a {
  text-align: right;
  line-height: 30px;
  margin-top: -30px;
} 

p{
  color: #666;
  cursor:default;
  font-size:0.8em;
  margin-top:5em;
  user-select: none;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25;
  background-color: #404853;
  color: white;
  text-align: center;
  transform: scale(1.5);
}

/* .fa {
  padding: 20px;
  font-size: 30px;
  width
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
} */

.fa {
  color: white;
  width: 30px;
}

.fa:hover {
    opacity: 0.7;
}
/* .fa-facebook {
  background: black;
  color: white;
}
.fa-instagram {
  background: black;
  color: white;
}
.fa-linkedin {
  background: black;
  color: white;
}
.fa-snapchat-ghost {
  background: black;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} */










#MainLogo {
  /* display: block;
  margin-left: auto;
  margin-top: -150;
  z-index: 2; */
  position: fixed;
  margin-left: auto;
  right: 30;
  top: 50px;
  white-space: nowrap;
  z-index: 2;
}


.dropbtn {
  position: fixed;
  margin-left: auto;
  right: 30;
  top: 50px;
  white-space: nowrap;
  z-index: 2;

  max-width: 150px; 
  max-height: 150px;
  /* background-color: #4CAF50; */
  /* color: white; */
  /* padding: 16px; */
  /* font-size: 16px; */
  /* border: none; */
  cursor: pointer;
  transition: .5s;
}

.dropdown {
  position: fixed;
  margin-left: auto;
  right: 170;
  top: 180px;
  white-space: nowrap;
  z-index: 2;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 130px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 3;

  /* position: fixed; */
  /* margin-left: auto; */
  /* right: 30; */
  /* top: 50px; */
  white-space: nowrap;
  text-align: center;
  /* border: 2px solid black;
  border-radius: 26px; */
}

.dropdown-content a {
  background: rgba(114, 114, 114, 0.7); 
  /* background-color:white; */
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  border: 2px solid black;
  border-radius: 26px;
  /* z-index: 3; */
  transition: .5s;
}

.dropdown-content a:hover{
  background-color: white;
  color: black;
  /* background: rgba(140,140,140,0.7); 
  color: white; */

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}


















#ResumePage{
  background: white;
}

.skillType {
  white-space: nowrap;
}

.skillType ul h4{
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: rgb(30, 37, 145);
  white-space: nowrap;
}

.skillType ul h5{

  font-size: 20;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 50px;
  /* margin-left: 20px; */
  /* font-weight: normal; */
  display: inline-block;
  white-space: nowrap;

}

.skillType ul h6{
  font-size: 20;
  margin-bottom: 10px;
  margin-top: 10px;
  /* margin-left: 20px; */
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;

}

.skillType ul li {
  display: inline-block;
  text-align: center;

}


#skillIcon {
  color: black;
  font-size: 75px;
  transition: .5s;
  margin-left: 50px;
  margin-bottom: 10px;
}

#skillIcon:hover, .skillType ul li:hover p {
  color: rgba(2, 95, 2, 0.705);
}

.skillType ul li p {
  margin-left: 50px;
  margin-top: 10;
  margin-bottom: 5px;
  transition: .5s;
  white-space: nowrap;

  /* display: block; */
}


















#resumeLogo img{
  float:left; 
  width: 150; 
  height: 150; 
  margin-left: 50px; 
  box-shadow: 10px 5px 40px grey;
  border-radius: 50%;
  margin-top: 50;
  margin-bottom: 25;
}

#resumeLogo h1{
  /* margin-top: 50; */
  margin-bottom: -50;
  white-space: nowrap;

} 

.fade {
  overflow: auto;
  margin-top: 50;
  font-family: 'Cormorant', serif;
  opacity: 1;
  margin-left: 100;
  margin-right: 100;
}

.fade p , .fade h3{
  margin-left: 300;
  text-shadow: none;
  
}

.fade h3{
  color: rgb(30, 37, 145);
  font-weight: bold;
  font-size: 30;
  margin-bottom: -95;
  
}

.fade p {
  font-size: 17;
  /* font-family: "Times New Roman", Times, serif; */
}

p.title {
  color: rgba(2, 95, 2, 0.705);
  font-size: 20;
  font-weight: bold;
  margin-bottom: -85;
}

p.location {
  font-weight: bold;
  margin-bottom: -70;
  color: black;
}

p.description {
  /* margin-bottom: none; */
  color: black;
  /* margin-bottom: 50; */
}

#blank {
    margin-bottom: 50px;
}

#headerParallax{
  background-image: url('../images/ResumePage.jpg');
  height: 700; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: .8; */
  filter: grayscale(60%) brightness(50%) contrast(150%);
  filter:blur(1);
  /* filter: contrast(150%); */
}

#educationParallax{
  background-image: url('../images/education.jpg');
  height: 15%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  /* filter: brightness(60%); */
}

#experienceParallax{
  background-image: url('../images/experience.jpg');
  height: 15%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  /* filter: contrast(150%); */
}

#leadershipParallax{
  background-image: url('../images/leadership.jpg');
  height: 15%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  /* filter: contrast(150%); */
}

#curricularParallax{
  background-image: url('../images/curricular.jpg');
  height: 15%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  /* filter: contrast(150%); */
}

.info{
  z-index:2;
  position: relative;
}

#header{
  position: absolute;
  z-index: 1000;
  /* left: 50%; */
  transform-origin: center;
  /* bottom: 0; */
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centeredInfo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 220px;
  white-space: nowrap;

  font-family: 'Cormorant', serif;
  font-weight: bold;
  font-size: 50;
  color: white;
  margin-top: 100;
  text-shadow: 2px 2px 1px #000000;

}

#pageBar {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 390px;
  white-space: nowrap;
}

#pageBar ul {
  display: inline-block;
  list-style-type: none;
} 

#pageBar ul li{
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  color: white;
  background: rgba(140,140,140,0.7); 
  font-size:15px;
  position: relative;

  border: 1px solid white;
  border-radius: 26px;
  transition: .5s;
}

#pageBar ul li a{
  margin: 0px; 
  display: block; 
  width: 100%; 
  height: 100%;
  transition: .5s;
}

#pageBar ul li a:link, #downloadResume a:link{
  color: white;
}

#pageBar ul li a:visited, #downloadResume a:visited{
  color: white;
}

#pageBar ul li:hover{
  background: rgba(255, 255, 255, 0.897); 
}

#pageBar ul li:hover a{
  color: black;
}

#downloadResume {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 500px;
  white-space: nowrap;

  border: 1px solid white;
  height:50px;
  width: 180px;
 
  
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size:15px;
  transition: .5s;
}

#downloadResume a{
  display: block;
  transition: .5s;
}
#downloadResume:hover{
  background: white;
}

#downloadResume:hover a{
  color: black;
}














#ContactPage{
  background: white;
}

#ContactPage:before {
  content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
  background-image: url('../images/contact.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: grayscale(60%) brightness(50%) contrast(150%);
  -webkit-filter: blur(1);
  -moz-filter: grayscale(60%) brightness(50%) contrast(150%);
  -moz-filter: blur(1);
  -o-filter: grayscale(60%) brightness(50%) contrast(150%);
  -o-filter: blur(1);
  -ms-filter: grayscale(60%) brightness(50%) contrast(150%);
  -ms-filter: blur(1);
  filter: grayscale(60%) brightness(50%) contrast(150%);
  filter:blur(1);
  z-index: -9;
}


/* #contactParallax{
  background-image: url('../images/contact.jpg');
  height: 700; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%) brightness(50%) contrast(150%);
  filter:blur(1);
} */

#contactMessage {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 350px;
  white-space: nowrap;

  font-family: 'Cormorant', serif;
  font-weight: bold;
  font-size: 20;
  color: white;
  margin-top: 100;
  text-shadow: 2px 2px 1px #000000;

}

#contactBar {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 500px;
  white-space: nowrap;
}

#contactBar ul {
  display: inline-block;
  list-style-type: none;
} 

#contactBar ul li{
  /* width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  color: white;
  background: rgba(140,140,140,0.7); 
  font-size:15px;
  position: relative; */

  /* display: inline-block;
  background: rgba(140,140,140,0.7); 
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px; */

  display: inline-block;
  /* padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none; */
  /* margin-left: 5px 2px; */

  /* border: 1px solid white; */
  /* border-radius: 26px; */

  /* transition: .5s; */
}

#contactBar ul li a{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  transition: .5s;

  border: 1px solid white;
}

#contactBar ul li a:link{
  color: white;
}

#contactBar ul li a:visited{
  color: white;
}

#contactSocialGmail:hover{
  background: #dd4b39; 
}

#contactSocialFacebook:hover{
  background: #3B5998; 
}

#contactSocialLinkedin:hover{
  background: #007bb5; 
}





















#LifestylePage{
  background-color: white;
}

#lifestyleParallax{
  background-image: url('../images/lifestyle.jpg');
  height: 700; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%) brightness(50%) contrast(150%);
  filter:blur(1);
}

#photographyParallax{
  background-image: url('../images/photography.jpg');
  height: 15%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  /* filter: contrast(150%); */
}

#carParallax{
  background-image: url('../images/car.jpg');
  height: 15%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  margin-top: 80px;
  /* filter: contrast(150%); */
}

#lifestyle .row img {
    width: 200;
    height: 135;
    background-size: cover;
    filter: grayscale(60%) brightness(65%) contrast(120%);
    transition: .5s;
}

#lifestyle .row img:hover {
    filter: none;
}

#lifestyle{
    text-align: center;
    white-space: nowrap;
}

.danceText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 1px black;
/*  opacity: 0;*/
}

.danceContainer {
  position: relative;
  text-align: center;
  color: white;
  display:inline-block
}

#danceRow img {
  width: 300;
  height: 200;
  background-size: cover;
  filter: grayscale(60%) brightness(65%) contrast(120%);
  transition: .5s;
  margin-bottom: 100px;
  cursor: pointer;
}

/*#danceRow img:hover {*/
/*    filter: grayscale(60%) brightness(85%) contrast(120%);*/
/*}*/
/**/
/*#danceRow #danceText:hover{*/
/*    opacity: 1;*/
/*}*/

/*.danceContainer:hover .danceImg{*/
/*    filter: grayscale(60%) brightness(85%) contrast(120%);*/
/**/
/*}*/

#photography h3, #danceRow h3, #car h3 {
  margin-top: 0;
  margin-bottom: 30;
  font-family: 'Cormorant', serif;
}

#car img {
  filter: grayscale(100%) contrast(150%);
  margin-bottom: 60;
  transition: 1s;
}

#car img:hover {
  filter: grayscale(0) contrast(110%);
}



/* .column {
  float: left;
  width: 25%;
  height: 25%;
  padding: 5px;
} */

/* .row::after { */
  /* content: "";
  clear: both;
  display: table; */
/* } */
































#AboutPage{
  background: white;
}

#AboutPage:before {
  content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
  background-image: url('../images/about.jpg');
  /* background-color:black; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: grayscale(60%) brightness(50%) contrast(150%);
  -webkit-filter: blur(1);
  -moz-filter: grayscale(60%) brightness(50%) contrast(150%);
  -moz-filter: blur(1);
  -o-filter: grayscale(60%) brightness(50%) contrast(150%);
  -o-filter: blur(1);
  -ms-filter: grayscale(60%) brightness(50%) contrast(150%);
  -ms-filter: blur(1);
  filter: grayscale(60%) brightness(50%) contrast(150%);
  filter:blur(1);
  z-index: -9;
}

.aboutInfo {
  position: absolute;
  margin-left: auto;
  margin-right: 300;
/*   left: 0; */
  right: 20;
  top: 120px;
  white-space: nowrap;

  font-family: 'Cormorant', serif;

  font-weight: bold;
  font-size: 50;
  color: white;
  margin-top: 100;
  text-shadow: 2px 2px 1px #000000;
}

#fadeAboutMessage {
/*    display:none;*/
}

#aboutMessage {
  position: absolute;
  margin-left: auto;
  margin-right: 20;
  /* left: 0; */
  right: 0;
  top: 200px;
  white-space: nowrap;
/*  display:none;*/

  font-family: 'Cormorant', serif;
  font-weight: bold;
  font-size: 20;
  color: white;
  margin-top: 100;
  text-align: justify;
  text-shadow: 2px 2px 1px #000000;
}

#aboutMessage a {
    transition: .5s;
}


#aboutMessage a:link{
  color: #F08080;
}

#aboutMessage a:visited{
  color: #F08080;
}

#aboutMessage a:link:hover{
    color: #FFFF00;
}

#aboutMessage a:visited:hover{
    color: #FFFF00;
}

#AboutPageBar {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 750px;
  white-space: nowrap;
  margin-bottom: 50px;
}

#AboutPageBar ul {
  display: inline-block;
  list-style-type: none;
} 

#AboutPageBar ul li{
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  color: white;
  background: rgba(140,140,140,0.7); 
  font-size:15px;
  position: relative;

  border: 1px solid white;
  border-radius: 26px;
  transition: .5s;
}

#AboutPageBar ul li a{
  margin: 0px; 
  display: block; 
  width: 100%; 
  height: 100%;
  transition: .5s;
}

#AboutPageBar ul li a:link{
  color: white;
}

#AboutPageBar ul li a:visited{
  color: white;
}

#AboutPageBar ul li:hover{
  background: rgba(255, 255, 255, 0.897); 
}

#AboutPageBar ul li:hover a{
  color: black;
}
